.seat {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid lightgrey;
	border-radius: 5px;

	&-desc {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		font-size: 0.75rem;
	}

	&[data-reserved='true'] {
		background-color: #ef233c;
		color: black;
	}

	&[data-reserved='false'] {
		&:hover {
			cursor: pointer;
			border-color: grey;
		}
	}

	&[data-picked='true'] {
		background-color: #f9c74f;
	}
}
